@model ProjectBlog.DAL.Entities.User

@{
    ViewData["Title"] = "Регистрация";
}

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="col-md-4 offset-md-4">
    @if (Model == null)
    {
        <form class="frm" method="post" asp-controller="Users" asp-action="Register">

            <div asp-validation-summary="ModelOnly"></div>

            <div class="form-group" style="margin-top:20%">
                <label for="floatingInput">Имя</label>
                <input asp-for="FirstName" class="form-control" id="floatingFirstName" placeholder="Иван" required>
                <small class="form-text text-muted">Ваше имя будет видно другим участникам</small>
            </div>

            <div class="form-group" style="margin-top:5%">
                <label for="floatingInput">Фамилия</label>
                <input asp-for="LastName" class="form-control" id="floatingLastName" placeholder="Иванов" required>
                <small class="form-text text-muted">Ваша фамилия может быть видна другим участникам</small>
            </div>

            <div class="form-group" style="margin-top:5%">
                <label for="floatingInput">Логин</label>
                <input asp-for="Email" class="form-control" id="floatingInput" aria-describedby="emailHelp" placeholder="электронная почта" required>
                <span asp-validation-for="Email" class="text-danger"></span>
                <small id="emailHelp" class="form-text text-muted">Мы никогда не поделимся этим с кем бы то ни было</small>
            </div>

            <div class="form-group" style="margin-top:5%">
                <label for="floatingPassword">Пароль</label>
                <input asp-for="Password" class="form-control" id="floatingPassword" placeholder="не забудьте" required>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group center" style="margin-top:10%">
                <button type="submit" class="btn btn-success">Зарегистрироваться</button>
            </div>

        </form>
    }
    else
    {
        @await Html.PartialAsync("_Thanks")
    }
</div>
