@{
    ViewData["Title"] = "Home Page";
}

<div class="center">
    <h1 class="center">Добро пожаловать!</h1>

     <div class="center" style="margin-top:3%"> 
        <a class="btn btn-primary btn-lg" asp-controller="Users" asp-action="Authenticate">Войти</a>
    </div>
    
    
 
    <div class="center" style="margin-top:1%">
        <a class="btn btn-success btn-lg" asp-controller="Users" asp-action="Register">Регистрация</a>
    </div>
</div>
